<!DOCTYPE html>
<head>
    <title>Signin page</title>
    <link href={{url_for('static',filename='signup.css')}} rel="stylesheet">
</head><div id="for">
<form action="action_page.php" method="post" id="forme" >
    <div class="imgcontainer">
    </div>
  
    <div class="container">
        <h1>Sign in</h1>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">sign in</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
    </div>
  </form></div>